.card {
    width: 100%;
    border-radius: 0px;
}
.pick{
    width: 100%;
}
.card{
    width: 80%;
    height:60%;
    border: 5cap;
}
.ord{
    width:70px;
    height:30px;
}
.home{
    background-color: white;
}